.main {
    display: flex;
    height: 100dvh;
    align-items: center;
}

.container {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    min-height: 300px;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 var(--roxo);
}

@media (max-height:1500px) {

    .main {
        height: 99dvh;
    }

    .container {
        padding: 0;
        max-height: 720px;
        margin-bottom: 0;
    }
}

.logo {
    margin-top: 50px;
    width: 300px;
    margin-bottom: 30px;
}

.informacoes {
    display: flex;
    width: 400px;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

label {
    color: #333;
    font-weight: 500;
}

.input {
    width: 350px;
    padding-inline: 30px;
    padding-block: 15px;
    background-image: url('../../../public/envelope.png');
}

.input:first-child {
    background-image: url('../../../public/cadeado.png');
}

.inputSenha {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.inputSenha i {
    margin-left: -30px;
}

.inputSenha i:hover {
    cursor: pointer;
}

.checkboxDiv {
    display: flex;
    width: 420px;
    justify-content: flex-start;
    justify-content: flex-start;
}

.checkboxDiv input {
    width: 30px;
    accent-color: var(--roxo);
}

.btn {
    background-color: var(--roxo);
    border: none;
    border-radius: 8px;
    text-align: center;
    width: 410px;
    padding: 20px;
    font-size: 20px;
    color: #fff;
}

.btn p {
    margin: 0;
}

.textoCadastro {
    padding: 40px 70px;
    border-top: 1px solid #000;
    margin: 0;
}

span {
    color: var(--roxo);
    cursor: pointer;
}